.html-profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title-contact {
    font-family: var(--primary-font);
    color: var(--dark);
    padding-top: 3rem;
    font-weight: 800;
    font-size: clamp(2rem, 10vw, 5rem);
  }

  .text-contact {
    font-size: clamp(1.2rem, 3.5vw, 1.8rem);
    font-family: var(--secondary-font);
    color: var(--dark-gray-text);
    padding-top: 1rem;
  }

  .contact-support {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 85%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 10rem 0;
    gap: 2rem;

    .form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: 1px solid var(--dark-border);
      border-radius: 1rem;
      padding: 2rem;
      background-color: var(--highlight);

      .title-form {
        font-size: clamp(1.5rem, 5vw, 2.5rem);
        font-family: var(--primary-font);
        color: var(--dark);
      }

      .text-form {
        font-size: clamp(1rem, 3vw, 1.4rem);
        font-family: var(--secondary-font);
        color: var(--dark-gray-text);
        font-weight: 500;
      }

      .send-mensage {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .grouping {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .span-form {
            font-size: clamp(1.2rem, 3vw, 1.5rem);
            font-family: var(--primary-font);
            color: var(--dark);
            font-weight: 600;
          }

          .form-highlight {
            width: 100%;
            padding: 1rem;
            border-radius: 1rem;
            border: 1px solid var(--dark-border);

            &:focus{
              outline:1px solid var(--reserve-blue);
            }
          }

          .form-highlight.textarea {
            height: 12rem;
          }
        }
      }

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        margin-bottom: 10rem;
        border-radius: 1rem;
        font-family: var(--secondary-font);
        font-size: clamp(1rem, 3vw, 1.4rem);
        font-weight: 500;
        background-color: var(--main-blue);
        color: var(--highlight);
        grid-area: 2rem;
        border: transparent;
        cursor: pointer;

        &:hover{
          opacity: 0.9;
        }

        i {
          padding-right: 2rem;
        }
      }
    }
  }
}

.contact-information {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;

  .contact-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--highlight);
    border: 1px solid var(--dark-border);
    border-radius: 1rem;
    padding: 2rem;
    gap: 3.5rem;

   

    .contact {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-family: var(--secondary-font);
      font-size: clamp(1.2rem, 3vw, 1.6rem);

      .address-content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .contact-highlight {
          color: var(--dark);
          font-weight: 600;
        }

        .highlight-contact {
          color: var(--dark-gray-text);
        }
      }
    }

    .contact i {
      font-size: clamp(1.5rem, 3vw, 2rem);
      background-color: var(--light-border-blue);
      padding: 1.5rem;
      border: 1px solid var(--border);
      border-radius: 1rem;
      color: var(--very-dark);
      color: var(--main-blue);
    }
  }
}

.opening-hours{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid var(--dark-border);
    border-radius: 1rem;
    padding: 2rem;
    background-color: var(--bg-light-blue);

    .days-opening{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-family: var(--secondary-font);
        font-size: clamp(1rem, 3vw, 1.4rem);
        font-weight: 500;

        .highlight{
            color: var(--dark-gray-text);
        }
    }
}

.alert{
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--dark-border);
  background-color: var(--light-beige);
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: clamp(1rem, 3vw, 1.3rem);

  .alert-text{
    color: var(--dark-gray-text);
  }

  a{
    color: var(--main-blue);

    &:hover{
      text-decoration: underline;
    }
  }
}

.address {
      font-size: clamp(1.5rem, 5vw, 2.5rem);
      font-family: var(--primary-font);
      color: var(--dark);
    }