.how-to-bet {
  margin: 2rem 2rem 10rem 2rem;
  border: 1px solid var(--dark-border);
  font-family: var(--secondary-font);
  background-color: var(--light);
  border-radius: 1rem;
  padding: 2rem;

  .title-bet {
    font-size: clamp(1.4rem, 5vh, 2.5rem);
    color: var(--dark);
    padding-bottom: 2rem;
    font-weight: 600;
  }

  .bet-paragraph {
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    color: var(--dark-gray-text);
    margin-bottom: 2rem;
  }
  .bet-paragraph:nth-child(3) {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--dark-border);
  }

  .draw-day {
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: var(--dark);
    font-weight: 400;
  }
}
