.contest-result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid var(--border-blue);
  border-radius: 1rem;
  margin: 2rem;
  font-family: var(--primary-font);

  .contest-setting {
    background-color: var(--light-blue);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 1rem;

    .contest-info {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .prize-draw {
        font-size: clamp(1.5rem, 3vw, 2.5rem);
        color: var(--dark);
      }
    }

    .refresh {
      display: flex;
      gap: clamp(1rem, 3vw, 2rem);
      font-size: clamp(1.2rem, 3vw, 1.4rem);
      color: var(--dark);
      background-color: var(--light);
      border-color: var(--border);
      border-radius: 1rem;
      padding: 1rem 1rem;
      font-weight: 500;
      transition: ease-in-out 0.3s;
      cursor: pointer;

      &:hover {
        color: var(--light);
        background-color: var(--reserve-blue);
        border: none;
      }

      i {
        font-size: clamp(1.2rem, 3vw, 1.6rem);
      }
    }
  }

  .result-numbers {
    .draw-numbers {
      font-size: clamp(1rem, 3vw, 1.4rem);
      text-transform: uppercase;
      padding: 2rem;
      color: var(--gray-text);
    }

    ul {
      display: flex;
      justify-content: center;
      gap: clamp(1.2rem, 3vw, 2rem);
      padding-bottom: 2rem;

      .numbers {
        background-color: var(--mega-sena-number);
        padding: 1.5rem;
        border-radius: 50%;
        color: var(--light);
        font-weight: 600;
        font-size: clamp(1rem, 3vw, 2rem);
      }
    }
  }

  .winner-prize {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    border-top: 1px solid var(--border);
    padding-top: 1rem;

    .winners,
    .prize {
      background-color: var(--light-gray-text);
      width: 100%;
      text-align: center;
      padding: 2rem;
      margin: 1rem;
      border-radius: 1rem;

      .decoration {
        color: var(--gray-text);
        font-size: clamp(1rem, 3vw, 1.4rem);
      }

      .result,
      .prize-amount {
        font-size: clamp(1.5rem, 5vw, 2.5rem);
        font-weight: 800;
        margin-top: 0.5rem;
      }

      .prize-amount {
        color: var(--mega-sena-number);
      }
    }
  }
}
