.contest-result.dupla {
  .result-numbers {
    .numbers {
      background-color: var(--dupla-number);
    }
  }

  .winner-prize {
    .prize {
      .prize-amount {
        color: var(--dupla-number);
      }
    }
  }
}

.previous-draws.dupla {
  .previous-draw-result {
    flex-direction: column;
    gap: 2rem;
  }

  .draw-numbers {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .draw-title {
      color: var(--dark-gray-text);
      font-size: clamp(1.2rem, 5vw, 1.4rem);
      font-weight: 500;
    }
    .numbers {
      background-color: var(--dupla-number);
    }
  }
}
