@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.fade-in {
  opacity: 0;
  transform: translateY(8px);
  animation: fadeIn 0.5s ease forwards;
}

/* Animação de entrada */
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background: var(--background) center center no-repeat;
  width: 100vw;
  max-width: 1350px;
  min-height: 100vh;
  background-attachment: fixed;
}

button{
  border-style: solid;
}

a {
  text-decoration: none;
  color: inherit;
}

ol{
  list-style-type: none;
}

.calendary {
        font-size: clamp(1rem, 3vw, 1.4rem);
        color: var(--gray-text);
      }

.calendary i{
  margin-right: 1rem;
}

.card-image {
  width: clamp(5rem, 10vw, 7rem);
  height: clamp(5rem, 10vw, 7rem);
  border-radius: 1rem;
  margin: 1rem;
}

/* .quina .card-image{
    filter: drop-shadow(2px 4px 6px var(--quina));
} */
