.navbar-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 1rem;

  .hamburger {
    width: 2.5rem;
    height: 0.2rem;
    background-color: var(--main-title);
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 2.5rem;
      height: 0.2rem;
      background-color: var(--main-title);
      left: 0;
      transition: all 0.3s ease-in-out;
    }

    &::before {
      top: -8px;
    }

    &::after {
      top: 8px;
    }
  }

  &.active .hamburger {
    background-color: transparent;
  }

  &.active .hamburger::before {
    transform: rotate(405deg);
    top: 0;
  }

  &.active .hamburger::after {
    transform: rotate(-405deg);
    top: 0;
  }
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block !important;
  }

  .navbar-menu {
    display: none !important;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: var(--light);
    padding: 1.5rem 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    &.active {
      display: block !important;
      animation: slideLeft 0.3s ease-in-out;
    }

    .navbar-item {
      width: 100%;

      .navbar-link {
        display: block;
        width: 100%;
        padding: 1rem 0;
        border-radius: 0 !important;
      }
    }
  }
  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(150px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}