@media (max-width: 768px) {
  .previous-draw-result {
    flex-direction: column;
    gap: 1rem;
  }

  .previous-draws.timemania {
  .previous-draw-result {
    align-items: normal;
  }
}

  .html-profile{
    .contact-support{
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}