.warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 5%;
  margin: 2% auto;
  height: 50vh;

  .warning-information {
    width: 100%;
    height: auto;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--beige);
    background-color: var(--light);
    padding: clamp(2rem, 5vh, 4rem);

    .warning-title {
      font-size: 2.5rem;
      font-family: var(--primary-font);
      color: var(--dark);
      padding: clamp(1.2rem, 3vh, 2.5rem);
      font-weight: 800;
    }

    .warning-description {
      font-size: clamp(1rem, 5vh, 1.6rem);
      font-weight: 400;
      font-family: var(--secondary-font);
      color: var(--gray-text);
      width: 100%;
      padding: clamp(1.5rem, 3vh, 3rem);
      a {
        color: var(--main-blue);
        font-weight: 500;
      }
    }
  }
}
